<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset='utf-8'>
        <title>Species Classes Page</title>
        <link rel ="stylesheet", href="{% static 'css/biomass_styleguide.css' %}" />

    </head>
    <body>
        <h1> Species classifications for allometric above ground biomass estimations</h1>
        <p>Species wer brokes down into six classes </p>
        <h2>Eucalyptus tetrodonta</h2>
        <p>Tree growing up to 25m with rough stringy grey over redish brown bark up to the small branches to the tree. Leaves are opposite to su-oposite with lancelolate to broadly lancolateand are dull blue-green.</p>
        {% comment %} {{ insert_me }} {% endcomment %}

        <img src="{% static 'images/tetrodonta_tree.jpg' %}" alt="Uh oh can't locate Eucalyptus tetrodonta tree image">

        <h2>Access Table</h2>
        <h3>Here are your access records</h3>
        <div class="djang_two">
            {% if access_records %}
            <table>
                <thread>
                    <th>Site Name</th>
                    <th>Date Accessed</th>
                </thread>

                {% for acc in access_records %}
                <tr>
                    <td>{{acc.name}}</td>
                    <td>{{acc.name}}</td>
                </tr>
                {% endfor%}

            </table>
            {% else %}
                <p> No access record found</p>
            {% endif %}

        </div>


    </body>

</html>