<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset='utf-8'>
        <title>Species Classes Page</title>

    </head>
    <body>
        <h1> Species classifications for allometric above ground biomass estimations</h1>
        <p>Species wer brokes down into six classes </p>
        <h2>Eucalyptus tetrodonta</h2>
        <p>Tree growing up to 25m with rough stringy grey over redish brown bark up to the small branches to the tree. Leaves are opposite to su-oposite with lancelolate to broadly lancolateand are dull blue-green.</p>
        {% comment %} html django template tag {% endcomment %}
        <img src="{% static ' images\tetrodonta_leaf.jpg' %}" alt="Uh oh can't locate Eucalyptus tetrodonta tree image">
        {{ insert_me }}
    </body>

</html>